
.hero-terminal {
  width: 100%;
  margin: 1rem auto 3rem auto;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  color: $webpack-console-text;
  padding: .5em 1em;
  border-radius: 3px;
  background-color: $webpack-console-bg;
  min-height: 200px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 60%;
  }

  pre {
    margin-bottom: 0;

    code {
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
      border: none;
      background: transparent;
      text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);

      .hero-terminal-user {
        color: $hero-terminal-user-color;

        > span {
          color: $hero-terminal-sign-color;
        }
      }
    }
  }


}
