@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// colors
$white:               #fff;
$gray-dark:           #333447;
$black:               #1b262c;
$gray-light:          #f3f3f3;
$blue-light:          #e2f4ff;
$blue-lighter:        #bbe1fa;
$blue:                #3282b8;
$blue-dark:           #0f4c75;
$gray-oxford:         #2b3a42;
$blue-regent:         #a5cee1;
$blue-shakespeare:    #62B1D8;
$green-ocean:         #4ab576;

$webpack-console-text:      $blue-regent;
$webpack-console-bg:        $gray-oxford;
$hero-terminal-user-color:  $blue-shakespeare;
$hero-terminal-sign-color:  $green-ocean;

$primary:               $blue;

$body-bg:               $white !default;
$text-color:            $gray-dark !default;
$link-color:            $primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$font-size-root:        16px;

// fonts
$font-family:           'Lato', Helvetica, sans-serif;
$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-heavy:     700;
$font-height:           1.5;

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$font-size-h1:          2.5rem;
$font-size-h2:          2rem;
$font-size-h3:          1.375rem;
$font-size-h4:          1.125rem;

// colors

