<template>
  <div id="app">
<div class="container">
  <div class="row">
    <div class="col-12">
      <header class="header">
        <div class="navbar flex-justify">
          <a href="#" class="logo">
            <img src="./assets/img/logo.png">
          </a>
          <nav class="main-nav">
            <ul>
              <li>
                <a href="#">
                  Home
                </a>
              </li>
              <li>
                <a href="#">
                  About Me
                </a>
              </li>
              <li>
                <a href="#">
                  Portfolio
                </a>
              </li>
              <li>
                <a href="#">
                  Blog
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="hero center">
          <h1 class="hero-title">{{ mainHeading }}</h1>
          <p class="hero-description">Frontend Developer</p>
          <div class="hero-terminal">
            <pre><code class="hero-terminal-code"><span class="hero-terminal-user">crowscript@: ~ <span>$ </span></span></code></pre>
          </div>
        </div>
      </header>
    </div>
  </div>

  <main>
    <div class="row">
      <div class="col-4 center">
        <div class="img img-responsive center"></div>
        <h3>Responsive</h3>
        <p>
          Your website will display beautifully, no matter the device or screen type.
        </p>
      </div>
      <div class="col-4 center">
        <div class="img img-lightweight center"></div>
        <h3>Lightweight</h3>
        <p>
          The CSS is super light, so you won’t have to worry about adding to page load times.
        </p>
      </div>
      <div class="col-4 center">
        <div class="img img-simple center"></div>
        <h3>Simple</h3>
        <p>
          Simple Grid is made for all skill levels, so you can jump right into your project.
        </p>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="col-6">
          <h3>Open source</h3>
          <p>Atom is open source. Be part of the Atom community or help improve your favorite text editor.</p>
          <p class="welcome-cta">
            <a href="https://github.com/atom/atom" class="welcome-button">Fork on GitHub</a>
          </p>
        </div>
        <div class="col-6">
          <h3>Keep in touch</h3>
          <table class="welcome-contact-table">
            <tbody>
              <tr><td>GitHub</td><td><a href="https://github.com/atom">github.com/atom</a></td></tr>
              <tr><td>Twitter</td><td><a href="https://twitter.com/atomeditor">@AtomEditor</a></td></tr>
              <tr><td>Chat</td><td><a href="http://atom-slack.herokuapp.com/">Slack</a></td></tr>
              <tr><td>Forum</td><td><a href="https://discuss.atom.io">Discuss</a></td></tr>
              <tr><td>Stuff</td><td><a href="https://github.myshopify.com/search?q=atom">Atom Gear</a></td></tr>
              <tr><td>RSS Feed</td><td><a href="https://atom.io/packages.atom">Packages &amp; Themes</a></td></tr>
            </tbody>
          </table>
        </div>
      </div>







    <div class="columns">

      <div class="column">

      </div>

      <div class="column">

      </div>

    </div>









    </section>
  </main>


</div>
 <footer class="footer">
   <div class="container flex-justify">
   <ul class="footer-left">
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="https://help.github.com/articles/github-privacy-policy/">Privacy</a></li>
          <li><a href="https://github.com/atom/atom/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a></li>
          <li><a href="/releases">Releases</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="footer-right">
          Copyright@Crowscript &copy; {{year}}
        </div>
   </div>

  </footer>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      mainHeading: 'Crowscript',
      year: new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss">
@import "./assets/scss/index.scss";
</style>
